/* CSS Document */

body 				{  
						background-image: url(../images/wood-background-texture-www-myfreetextures-com-1500-free-textures.jpg);
					 	background-repeat:repeat; 
						margin-top: 30px;
					 	font-family:Arial, Helvetica, sans-serif; 
						/*border: 2px solid #119999;*/
						}

h2, h3				{	font-family: Arial, Helvetica, sans-serif;} 
h1 					{	font-size: 36px;}


/*#wrapper */
.panel				{	width:940px; margin: 10px auto;
					 	background-color: #ffffff;
					 	background-image: url(../images/tan_marbled_paper.jpg); 
					 	background-repeat:repeat; // opacity: .9; 
					 	border: 2px solid #af0000;
					 	border-radius: 25px;
					 	padding: 0 40px;
					 }
					 
#menuwrapper	{width:940px;
				 margin:10px auto;}				 